//
// Colours
// --------------------------/


$white:           #FFF;
$gallery:         #EEE;
$mercury:         #E9E9E9;
$wild-sand:       #f5f5f5;
$silver-chalice:  #AAAAAA;
$star-dust:       #A4A4A3;
$dusty-grey:      #949494;
$grey:            #8F8F8F;
$jumbo:           #77777A;    
$tundora:         #424242;
$mine-shaft:      #333;
$cod-grey:        #060606;

$pomegranate:     #EE3B16;
$mona-lisa:       #FFA593;

