@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("efsg.det.nsw.edu.au") {
  #latte table td span {
    color: #fff;
    font-size: 10px;
  }
  
  #latte .ui-progressbar .ui-progressbar-value {
    font-size: 10px;
    line-height: 1;
  }
  
  #latte #latteTabs li a {
    height: 18px !important;
    padding: 3px 2px;
  }
}
